.button {
	border-radius: 6px;
	padding: 8px 30px;
	cursor: pointer;
	transition: border-color 0.25s;
	font-size: 16px;
	border: none;
	transition: 0.3s background-color ease-in-out;
}
.form-button:hover {
	background-color: #646cff;
}

.form-button {
	padding: 15px 30px;
	background-color: #312eb5;
	width: fit-content;
}
