.journal-item__header {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	margin: 0;
}

.journal-item__body {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.journal-item__date {
	color: rgba(255, 255, 255, 0.4);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}

.journal-item__text {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	overflow: hidden;
}
