.journal-form {
	display: flex;
	flex-direction: column;
}

.form-label {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 150px;
}

.form-row {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 15px 0;
	border-bottom: 1px solid #323232;
}

.input {
	font-family: 'Source Sans 3', sans-serif;
	border: none;
	background: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 100%;
}

.input-post {
	margin: 15px 0;
}

.invalid {
	border: 1px solid red;
	background: rgb(82, 3, 3);
}

.delete {
	height: 30px;
	width: 30px;
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.8;
	padding: 0;
}

.delete:hover {
	opacity: 1;
}
